@import "tailwindcss";


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  scroll-behavior: smooth;
}
/* @custom-variant dark (&:where(.dark, .dark *));

@layer theme {
  .dark {
   
  }
} */
@theme {
  --color-bg-light: #F5F7FA;
  --color-card-light: #FFFF;
  --color-title-light: #212121;
  --color-subtitle-light: #424242;
  --color-description-light: #616161;
  --color-price-light: #33691E;
  --color-cta-light: #007AFF;
  --color-nav-light: #FFFF;

  --color-bg-dark: #1E1E1E;
    --color-title-dark: #F5F5F5;
    --color-card-dark: #2C2C2C;
    --color-subtitle-dark: #B0B0B0;
    --color-description-dark: #8D8D8D;
    --color-cta-dark: #00BFA5;
    --color-price-dark: #8BC34A;
    --color-nav-dark: #2C2C2C;  

}